<!doctype html>
<html class="no-js" ng-app="frontendApp">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body layout="column" ng-controller="NavCtrl as ctrl">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <md-toolbar layout="row">
      <button hide-gt-sm class="menuBtn">
        <span class="visually-hidden">Menu</span>
      </button>
      <h1 class="md-toolbar-tools" layout-align-gt-sm="center">Hello World</h1>
    </md-toolbar>

    
    <div layout="row" flex>

      <md-sidenav
        layout="column"
        class="md-sidenav-left md-whiteframe-z2"
        md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
        <md-button md-no-ink ng-class="{'md-primary': ctrl.isActivePath(link.href)}" ng-repeat="link in ctrl.navLinksTop" ng-click="ctrl.changePath(link.href)">
          {{link.name}}
        </md-button>
      </md-sidenav>

      <div layout="column" flex id="content">
          <md-content layout="column" flex class="md-padding">
            <ng-view></ng-view>
          </md-content>
      </div>

    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/sidenavleft.js"></script>
        <!-- endbuild -->
</body>
</html>
