{% load sentry_helpers %}


<div class="nfzoo-chart">
  <h3>Incoming connections</h3>

  <span>(minutes before/after event's datetime)</span>
  <br />
  <div class="pull-left" style="margin-right: 10px;">
    <label>Before:</label>
    <input type="number" class="nfzoo-datetime nfzoo-start" value="20" />
  </div>
  <div class="pull-left"  style="margin-right: 10px;">
    <label>After:</label>
    <input type="number" class="nfzoo-datetime nfzoo-end" value="20" />
  </div>
  <div>
    <label>Query:</label>
    <input type="text" class="nfzoo-datetime nfzoo-query" value="*" />
  </div>
  <span class="nfzoo-value"></span>
  <br />

  <button class="nfzoo-show-iframe btn btn-default btn-small">By protocol</button>
  <iframe
    style="width: 100%; height: 300px;"
    data-src="http://192.168.8.4:5601/#/visualize/edit/NFDUMP-protocols?embed&_g=(refreshInterval:(display:Off,section:0,value:0),time:(from:'<%- start_datetime %>',mode:absolute,to:'<%- end_datetime %>'))&_a=(filters:!((meta:(apply:!t,disabled:!f,index:%5Bnf-dump-%5DYYYY.MM.DD-HH,key:da,negate:!f,value:'{{ event.culprit }}'),query:(match:(da:(query:'{{ event.culprit }}',type:phrase))))),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'<%- query %>')),vis:(aggs:!((id:'1',params:(),schema:metric,type:count),(id:'2',params:(extended_bounds:(),field:ts,interval:auto,min_doc_count:1),schema:segment,type:date_histogram),(id:'3',params:(field:pr,order:desc,orderBy:'1',size:10),schema:group,type:terms)),listeners:(),params:(addLegend:!t,addTooltip:!t,defaultYExtents:!f,mode:stacked,shareYAxis:!t),type:histogram))"
  >
  </iframe>

  <button class="nfzoo-show-iframe btn btn-default btn-small">Top 10 source IPs</button>
  <iframe
    style="width: 100%; height: 300px;"
    data-src="http://192.168.8.4:5601/#/visualize/edit/Table-Top-Hosts-Sum-And-Count-%5Bnfdump%5D?embed&_g=(refreshInterval:(display:Off,section:0,value:0),time:(from:'<%- start_datetime %>',mode:absolute,to:'<%- end_datetime %>'))&_a=(filters:!((meta:(apply:!t,disabled:!f,index:%5Bnf-dump-%5DYYYY.MM.DD-HH,key:da,negate:!f,value:'{{ event.culprit }}'),query:(match:(da:(query:'{{ event.culprit }}',type:phrase))))),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'<%- query %>')),vis:(aggs:!((id:'1',params:(field:byt),schema:metric,type:sum),(id:'2',params:(field:sa,size:10),schema:bucket,type:significant_terms),(id:'3',params:(),schema:metric,type:count)),listeners:(),params:(perPage:10,showMeticsAtAllLevels:!f,showPartialRows:!f),type:table))"
  >
  </iframe>

  <button class="nfzoo-show-iframe btn btn-default btn-small">By destination port</button>
  <iframe
    style="width: 100%; height: 300px; display: none;"
    data-src="http://192.168.8.4:5601/#/visualize/edit/NFDUMP-dest-port?embed&_g=(refreshInterval:(display:Off,section:0,value:0),time:(from:'<%- start_datetime %>',mode:absolute,to:'<%- end_datetime %>'))&_a=(filters:!((meta:(apply:!t,disabled:!f,index:%5Bnf-dump-%5DYYYY.MM.DD-HH,key:da,negate:!f,value:'{{ event.culprit }}'),query:(match:(da:(query:'{{ event.culprit }}',type:phrase))))),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'<%- query %>')),vis:(aggs:!((id:'1',params:(),schema:metric,type:count),(id:'2',params:(extended_bounds:(),field:ts,interval:auto,min_doc_count:1),schema:segment,type:date_histogram),(id:'3',params:(field:dp,order:desc,orderBy:'1',size:10),schema:group,type:terms)),listeners:(),params:(addLegend:!t,addTooltip:!t,defaultYExtents:!f,mode:stacked,shareYAxis:!t),type:histogram))"
  >
  </iframe>

  <button class="nfzoo-show-iframe btn btn-default btn-small">By source port</button>
  <iframe
    style="width: 100%; height: 300px; display: none;"
    data-src="http://192.168.8.4:5601/#/visualize/edit/NFDUMP-source-port?embed&_g=(refreshInterval:(display:Off,section:0,value:0),time:(from:'<%- start_datetime %>',mode:absolute,to:'<%- end_datetime %>'))&_a=(filters:!((meta:(apply:!t,disabled:!f,index:%5Bnf-dump-%5DYYYY.MM.DD-HH,key:da,negate:!f,value:'{{ event.culprit }}'),query:(match:(da:(query:'{{ event.culprit }}',type:phrase))))),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'<%- query %>')),vis:(aggs:!((id:'1',params:(),schema:metric,type:count),(id:'2',params:(extended_bounds:(),field:ts,interval:auto,min_doc_count:1),schema:segment,type:date_histogram),(id:'3',params:(field:sp,order:desc,orderBy:'1',size:10),schema:group,type:terms)),listeners:(),params:(addLegend:!t,addTooltip:!t,defaultYExtents:!f,mode:stacked,shareYAxis:!t),type:histogram))"
  >
  </iframe>


</div>

<div class="nfzoo-chart">
  <h3>Outgoing connections</h3>

  <span>(minutes before/after event's datetime)</span>
  <br />
  <div class="pull-left" style="margin-right: 10px;">
    <label>Before:</label>
    <input type="number" class="nfzoo-datetime nfzoo-start" value="20" />
  </div>
  <div class="pull-left"  style="margin-right: 10px;">
    <label>After:</label>
    <input type="number" class="nfzoo-datetime nfzoo-end" value="20" />
  </div>
  <div>
    <label>Query:</label>
    <input type="text" class="nfzoo-datetime nfzoo-query" value="*" />
  </div>
  <span class="nfzoo-value"></span>
  <br />

  <button class="nfzoo-show-iframe btn btn-default btn-small">By protocol</button>
  <iframe
    style="width: 100%; height: 300px;"
    data-src="http://192.168.8.4:5601/#/visualize/edit/NFDUMP-protocols?embed&_g=(refreshInterval:(display:Off,section:0,value:0),time:(from:'<%- start_datetime %>',mode:absolute,to:'<%- end_datetime %>'))&_a=(filters:!((meta:(apply:!t,disabled:!f,index:%5Bnf-dump-%5DYYYY.MM.DD-HH,key:sa,negate:!f,value:'{{ event.culprit }}'),query:(match:(sa:(query:'{{ event.culprit }}',type:phrase))))),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'<%- query %>')),vis:(aggs:!((id:'1',params:(),schema:metric,type:count),(id:'2',params:(extended_bounds:(),field:ts,interval:auto,min_doc_count:1),schema:segment,type:date_histogram),(id:'3',params:(field:pr,order:desc,orderBy:'1',size:10),schema:group,type:terms)),listeners:(),params:(addLegend:!t,addTooltip:!t,defaultYExtents:!f,mode:stacked,shareYAxis:!t),type:histogram))"
  >
  </iframe>

  <button class="nfzoo-show-iframe btn btn-default btn-small">Top 10 source IPs</button>
  <iframe
    style="width: 100%; height: 300px;"
    data-src="http://192.168.8.4:5601/#/visualize/edit/Table-Top-Hosts-Sum-And-Count-%5Bnfdump%5D?embed&_g=(refreshInterval:(display:Off,section:0,value:0),time:(from:'<%- start_datetime %>',mode:absolute,to:'<%- end_datetime %>'))&_a=(filters:!((meta:(apply:!t,disabled:!f,index:%5Bnf-dump-%5DYYYY.MM.DD-HH,key:sa,negate:!f,value:'{{ event.culprit }}'),query:(match:(sa:(query:'{{ event.culprit }}',type:phrase))))),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'<%- query %>')),vis:(aggs:!((id:'1',params:(field:byt),schema:metric,type:sum),(id:'2',params:(field:da,size:10),schema:bucket,type:significant_terms),(id:'3',params:(),schema:metric,type:count)),listeners:(),params:(perPage:10,showMeticsAtAllLevels:!f,showPartialRows:!f),type:table))"
  >
  </iframe>


  <button class="nfzoo-show-iframe btn btn-default btn-small">By destination port</button>
  <iframe
    style="width: 100%; height: 300px; display:none;"
    data-src="http://192.168.8.4:5601/#/visualize/edit/NFDUMP-dest-port?embed&_g=(refreshInterval:(display:Off,section:0,value:0),time:(from:'<%- start_datetime %>',mode:absolute,to:'<%- end_datetime %>'))&_a=(filters:!((meta:(apply:!t,disabled:!f,index:%5Bnf-dump-%5DYYYY.MM.DD-HH,key:sa,negate:!f,value:'{{ event.culprit }}'),query:(match:(sa:(query:'{{ event.culprit }}',type:phrase))))),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'<%- query %>')),vis:(aggs:!((id:'1',params:(),schema:metric,type:count),(id:'2',params:(extended_bounds:(),field:ts,interval:auto,min_doc_count:1),schema:segment,type:date_histogram),(id:'3',params:(field:dp,order:desc,orderBy:'1',size:10),schema:group,type:terms)),listeners:(),params:(addLegend:!t,addTooltip:!t,defaultYExtents:!f,mode:stacked,shareYAxis:!t),type:histogram))"
  >
  </iframe>

  <button class="nfzoo-show-iframe btn btn-default btn-small">By source port</button>
  <iframe
    style="width: 100%; height: 300px; display:none;"
    data-src="http://192.168.8.4:5601/#/visualize/edit/NFDUMP-source-port?embed&_g=(refreshInterval:(display:Off,section:0,value:0),time:(from:'<%- start_datetime %>',mode:absolute,to:'<%- end_datetime %>'))&_a=(filters:!((meta:(apply:!t,disabled:!f,index:%5Bnf-dump-%5DYYYY.MM.DD-HH,key:sa,negate:!f,value:'{{ event.culprit }}'),query:(match:(sa:(query:'{{ event.culprit }}',type:phrase))))),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'<%- query %>')),vis:(aggs:!((id:'1',params:(),schema:metric,type:count),(id:'2',params:(extended_bounds:(),field:ts,interval:auto,min_doc_count:1),schema:segment,type:date_histogram),(id:'3',params:(field:sp,order:desc,orderBy:'1',size:10),schema:group,type:terms)),listeners:(),params:(addLegend:!t,addTooltip:!t,defaultYExtents:!f,mode:stacked,shareYAxis:!t),type:histogram))"
  >
  </iframe>


</div>



<div>
  <h3>Analyzer details</h3>
  {% render_values interface.analyzer %}
</div>

<div>
  <h3>Event details</h3>
  {% render_values interface.event %}
</div>


<script>
    var event_datetime = new Date("{{ event.datetime.isoformat }}");
    var update_chart = function(chart_el) {
      var start_interval = parseInt(chart_el.find(".nfzoo-start").val());
      var end_interval = parseInt(chart_el.find(".nfzoo-end").val());
      var query = chart_el.find(".nfzoo-query").val();

      var start_datetime = new Date(
        new Date(event_datetime.getTime()).setMinutes(event_datetime.getMinutes() - start_interval)
      ).toJSON(); 
      var end_datetime = new Date(
        new Date(event_datetime.getTime()).setMinutes(event_datetime.getMinutes() + end_interval)
      ).toJSON(); 

      chart_el.find(".nfzoo-value").html("<b>From:</b> " + start_datetime + "&nbsp;&nbsp;<b>To:</b> " + end_datetime);

      chart_el.find('iframe').each(function(index, _iframe_el) {
        var iframe_el = $(_iframe_el);
        if (!iframe_el.is(':visible')) {
          return;
        }
        var tpl_str = iframe_el.attr("data-src");
        iframe_el.attr(
          "src",
          _.template(tpl_str)({
            start_datetime: start_datetime, 
            end_datetime: end_datetime, 
            query: query
          })
        );
      }); 
    };

    $(".nfzoo-datetime").change(function(event) {
      update_chart($(this).parent().parent());
    });

    $(".nfzoo-chart").each(function(index, element) {
      update_chart($(element));
    });

    $(".nfzoo-show-iframe").click(function(event) {
      $(this).next().toggle();
      if ($(this).next().is(':visible')) {
        $(this).css('background-color', 'rgba(250, 250, 250, 0.54902)');
        update_chart($(this).parent());
      } else {
        $(this).css('background-color', '#1791f8');
      };
    });

    $(".nfzoo-show-iframe").each(function(i, el) {
      if(!$(el).next().is(':visible')) {
        $(el).css('background-color', '#1791f8');
      } else {
        $(el).css('background-color', 'rgba(250, 250, 250, 0.54902)');
      }
    });

</script>
